{% extends "base.html" %} {% block content %}
<h1 class="text-center">"{{type}}"</h1>

<h1 class="text-center">Select "{{label}}" images</h1>

<form action="/classifier/classified" method="POST">
  <button type="submit" class="btn-primary">Skip</button>
  {% csrf_token %}
  <input type="hidden" name="images_id" />
  <input type="hidden" name="label" value="{{label}}" />
  <div class="row">
    {% for item in data %}
    <div class="col-4 image_candlesticks mb-1" data-id="{{item.id}}">
      <img data-id="{{item.id}}"
        class="mw-80 img-thumbnail"
        src="/static/classify_data/{{item.name}}"
      />
    </div>
    {% endfor %}
  </div>
</form>
<style>
  /* img {
    margin: auto;
  } */
  .align-middle {
    margin-top: auto;
    margin-bottom: auto;
  }
</style>

<script>
  var count = 1;
  $(".image_candlesticks").click(function (event) {
    count ++;
    let data_id = $(event.target).attr("data-id");
    let ids_selected = $("[name=images_id]").val();
    ids_selected = ";" + data_id + ids_selected
    $("[name=images_id]").val(ids_selected);
    $("div[data-id="+data_id+"]").hide();

    if(count >=5) {
      $("form").submit();
    }
  });
</script>

{% endblock %}
